<div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
        
    <div fxFlex="30%">

        <mat-card>
            <mat-card-content>
                <mat-label>Usuário Logado: <span class="variableLabel">{{variable.Username}}</span></mat-label>
                
                <mat-label *ngIf="variable.SelectedClient">Cliente: <span class="variableLabel">{{variable.SelectedClient.cnpj}} - {{variable.SelectedClient.description}}</span> <a routerLink="/selectClient">Alterar</a></mat-label>
                
                <mat-label>Perfil: <span class="variableLabel">{{variable.CurrentProfile}}</span> <a routerLink="/myprofile">Alterar</a></mat-label>
            </mat-card-content>
        </mat-card>
       
       
    </div>

    <div fxFlex="30%" *ngIf="variable.CurrentProfile === 'Master'">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Usuários
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-label>Carregando total de usuários...</mat-label>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-card-content>
        </mat-card>
    </div>
    

</div>
