
table {
    min-width: 100%;
}

.table-container {
    width: 100%;
    overflow: auto;
}

.mat-cell {
    padding-right: 20px;
}

.mat-column-name {    
    width:50px
}

.mat-column-level {
    width: 5px;
}

.mat-column-actions {
    width: 10px;
}

.mat-column-description {
    width: 100%;
}

.mat-form-field {
    width: 100%;
}


