
table {
    min-width: 100%;
}

.table-container {
    width: 100%;
    overflow: auto;
    max-height: calc(100vh - 230px);
}

.mat-cell {
    padding-right: 20px;
}


.mat-column-cnpj {
    width: 150px;
}

.mat-column-situation {
    width: 350px;
}


.mat-column-actions {
    width: 10px;
}

.mat-form-field {
    width: 100%;
}

mat-radio-button{
    margin-right: 15px
}