<div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">

    <div fxFlex="25%">
        <mat-card class="mat-elevation-z6">
            <mat-card-header>
                <mat-card-title>
                    Dados do Usuário
                </mat-card-title>
            </mat-card-header>

            <mat-card-content>

                <div>
                    <mat-form-field appearance="standard">
                        <mat-label>Username</mat-label>
                        <input matInput [(ngModel)]="newUser.userName">
                    </mat-form-field>

                    <mat-form-field appearance="standard">
                        <mat-label>CPF</mat-label>
                        <input matInput maxlength="11" [(ngModel)]="newUser.cpf">
                    </mat-form-field>

                    <mat-form-field appearance="standard">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" [(ngModel)]="newUser.email">
                    </mat-form-field>
                </div>

            </mat-card-content>

            <mat-card-actions align="end">
                <button mat-raised-button color="primary"
                        [disabled]="variable.IsEnabled === false" (click)="addUser()">
                    Adicionar
                </button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div fxFlex="25%">
        <mat-card class="mat-elevation-z6">
            <mat-card-header>
                <mat-card-title>
                    Clientes
                </mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <div>
                    <mat-form-field appearance="standard">

                        <mat-select [(ngModel)]="selectedClient">
                            <mat-option *ngFor="let client of clients" [value]="client">
                                {{client.description}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
            </mat-card-content>

            <mat-card-actions align="end">
                <button mat-raised-button color="primary"
                        [disabled]="variable.IsEnabled === false" (click)="addClient()">
                    Adicionar
                </button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div fxFlex="25%">
        <mat-card class="mat-elevation-z6">
            <mat-card-header>
                <mat-card-title>
                    Perfis
                </mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <div>
                    <mat-form-field appearance="standard">

                        <mat-select [(ngModel)]="selectedProfile">
                            <mat-option *ngFor="let profile of profiles" [value]="profile">
                                {{profile.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
            </mat-card-content>

            <mat-card-actions align="end">
                <button mat-raised-button color="primary"
                        [disabled]="variable.IsEnabled === false" (click)="addProfile()">
                    Adicionar
                </button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div fxFlex="25%">
        <mat-card class="mat-elevation-z6">
            <mat-card-header>
                <mat-card-title>
                    Permissões
                </mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <div>
                    <mat-form-field appearance="standard">

                        <mat-select [(ngModel)]="selectedPermission">
                            <mat-option *ngFor="let permission of permissions" [value]="permission">
                                {{permission.table}} - {{permission.description}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-card-actions align="end">
                        <button mat-raised-button color="primary"
                                [disabled]="variable.IsEnabled === false" (click)="addPermission()">
                            Adicionar
                        </button>
                    </mat-card-actions>
                </div>
            </mat-card-content>

        </mat-card>
    </div>

    <div fxFlex="25%" *ngFor="let client of newUser.clients">
        <mat-card class="mat-elevation-z6">
            <mat-card-header>
                <mat-card-title>
                    Cliente
                </mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <div>
                    <mat-form-field appearance="standard">
                        <mat-label>CNPJ</mat-label>
                        <input matInput readonly [(ngModel)]="client.cnpj" />

                    </mat-form-field>
                    <mat-form-field appearance="standard">
                        <mat-label>Descrição</mat-label>
                        <input matInput readonly [(ngModel)]="client.description" />

                    </mat-form-field>

                </div>
            </mat-card-content>

            <mat-card-actions align="end">
                <button mat-raised-button color="primary"
                        [disabled]="variable.IsEnabled === false" (click)="removeClient(client)">
                    Remover
                </button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div fxFlex="25%" *ngFor="let profile of newUser.applicationRoles">
        <mat-card class="mat-elevation-z6">
            <mat-card-header>
                <mat-card-title>
                    Perfil
                </mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <div>

                    <mat-form-field appearance="standard">
                        <mat-label>Descrição</mat-label>
                        <input matInput readonly [(ngModel)]="profile.name" />

                    </mat-form-field>

                </div>
            </mat-card-content>

            <mat-card-actions align="end">
                <button mat-raised-button color="primary"
                        [disabled]="variable.IsEnabled === false" (click)="removeProfile(profile)">
                    Remover
                </button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div fxFlex="25%" *ngFor="let permission of newUser.permissions">
        <mat-card class="mat-elevation-z6">
            <mat-card-header>
                <mat-card-title>
                    Permissão
                </mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <div>

                    <mat-form-field appearance="standard">
                        <mat-label>Descrição</mat-label>
                        <input matInput readonly [(ngModel)]="permission.table + ' - ' + permission.description" />

                    </mat-form-field>

                </div>
            </mat-card-content>

            <mat-card-actions align="end">
                <button mat-raised-button color="primary"
                        [disabled]="variable.IsEnabled === false" (click)="removePermission(permission)">
                    Remover
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
