table {
    min-width: 100%;
}

.table-container {
    width: 100%;
    overflow: auto;
    max-height: calc(100vh - 250px);
}

.mat-cell {
    padding-right: 20px;
}

.mat-form-field {
    width: 100%;
}

.mat-column-table {
    width: 20%
}

.mat-column-description {
    width: 70%
}

