<div>
    <mat-card class="mat-elevation-z6" *ngIf="quadro">
        <mat-header>
            <mat-card-title>
                Detalhes do Quadro
            </mat-card-title>
            <mat-card-subtitle>
                {{quadro.descricao}}
            </mat-card-subtitle>
        </mat-header>

        <mat-body>
            <mat-tab-group mat-align-tabs="center">
                <mat-tab label="Atos Normativos">

                    <div class="table-container mat-elevation-z6">
                        <table mat-table [dataSource]="quadro.atos_Normativos" matSort>


                            <ng-container matColumnDef="numero">

                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-label mat-sort-header> Número</mat-label>
                                </th>

                              
                                <td mat-cell *matCellDef="let element">
                                    <mat-form-field *ngIf="!element">
                                        <mat-select [(ngModel)]="ato_normativo_selecionado">
                                            <mat-option *ngFor="let ato_normativo of atos_normativos" [value]="ato_normativo">
                                                {{ato_normativo.numero}} - {{ato_normativo.ano}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <span *ngIf="element">
                                        {{element.numero + '-' + element.ano}}
                                    </span>


                                </td>
                            </ng-container>

                            <ng-container matColumnDef="descricao">

                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-label mat-sort-header> Descrição</mat-label>
                                </th>

                                <td mat-cell *matCellDef="let element">

                                    <span *ngIf="element">
                                        {{element.descricao}}
                                    </span>
                                    
                                    <span *ngIf="ato_normativo_selecionado && !element">
                                        {{ato_normativo_selecionado.descricao}}
                                    </span>

                                </td>
                            </ng-container>

                            <ng-container matColumnDef="vigencia">

                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-label mat-sort-header> Vigência</mat-label>
                                </th>

                                <td mat-cell *matCellDef="let element">
                                    

                                </td>
                            </ng-container>

                            <ng-container matColumnDef="publicacao">

                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-label mat-sort-header> Publicação</mat-label>
                                </th>

                                <td mat-cell *matCellDef="let element">
                                  
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let element">
                                    <button (click)="addAtoNormativo(ato_normativo_selecionado)" mat-icon-button *ngIf="!element && ato_normativo_selecionado"
                                            [disabled]="variable.IsEnabled === false">
                                        <mat-icon>add</mat-icon>
                                    </button>

                                    <button (click)="removeAtoNormativo(element)" mat-icon-button *ngIf="element"
                                            [disabled]="variable.IsEnabled === false" title="remover">
                                        <mat-icon>remove</mat-icon>
                                    </button>

                                </td>

                            </ng-container>

                            <ng-container matColumnDef="paginator" [sticky]="true">
                                <td mat-footer-cell *matFooterCellDef colspan="3">
                                    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="ato_NormativoColumns; sticky: true"></tr>

                            <tr mat-row *matRowDef="let row; columns: ato_NormativoColumns;"></tr>
                            <tr mat-footer-row *matFooterRowDef="['paginator']; sticky: true"></tr>
                        </table>
                    </div>
                </mat-tab>
                <mat-tab label="Subquadros">Content 2</mat-tab>
            </mat-tab-group>
        </mat-body>
    </mat-card>
    

</div>
