.header{
    display: flex;
    align-items: center;

}

.header a{
    display: flex;
    align-items: center;
    text-decoration: none;
    
}

.header .title-group{
    padding-left: 15px;
}

.mat-toolbar {
    z-index: 2;
    position: fixed;
    top: 0;
  }

  .divisor {
    flex: 1 1 auto;
  }

  .usuario {
      font-size: 0.7em;
      margin-left: 30px;
      text-decoration: underline;
  }

.perfil {
    font-size: 0.8em;
    margin-left: 10px;
}

  .homeButton{
      font-size: 1em;
      margin-right: 20px
  }